body {
    font: 16px/28px 'Microsoft YaHei'
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 400;
    text-align: center;
}

.gray {
    color: #888;
    font-size: 12px;
    text-align: center;
}

.search {
    color: #666;
    width: 170px;
}

.btn {
    font-weight: 700;
}

p {
    text-indent: 2em;
}

.pic {
    text-align: center;
}

.footer {
    color: #888;
    font-size: 12px;
}